.page {
  margin: 0 auto;
  padding: 15px;
  min-width: 600px;
  max-width: 1400px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.form {
  margin-bottom: 50px;
}

.filter-form {
  margin-bottom: 0px;
}

.form__title {
  margin-bottom: 20px;
}

.form__label {
  position: relative;
}

.btn-title {
  transition: opacity 0.3s ease, color 0.3s ease;
}

.btn-title:focus,
.btn-title:hover {
  border: none;
  color: #0d6efd;
  opacity: 0.8;
}

.btn-title:active {
  opacity: 0.6;
}

.form__error-message {
  color: red;
  opacity: 0;
  position: absolute;
  font-size: 14px;
  bottom: 100%;
  transition: opacity ease 0.2s;
}

.form__error-message--active {
  opacity: 1;
}

.students__item {
  border-top: 1px rgb(228, 201, 164) solid;
  min-height: 30px;
}

.students__item:last-child {
  border-bottom: 1px burlywood solid;
}
